* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  min-height: 350px;
}

.form > * {
  margin-bottom: 10px;
}

.item-list {
  height: 100px;
}

.tab-group-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.tab-group-wrapper > * {
  height: 100%;
}

.item-list, .tab-group-wrapper, .submit {
  width: 100%;
}
