* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  min-height: 350px;
}

.form > * {
  margin-bottom: 10px;
}

.item-list {
  height: 100px;
}

.tab-group-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.tab-group-wrapper > * {
  height: 100%;
}

.tab-group-name-wrapper {
  display: none;
  visibility: hidden;
}

/* -2 is TAB_GROUP_ID_NEW */
#open-tabs .tab-group[data-value='-2'] + .tab-group-name-wrapper {
  display: contents;
  visibility: visible;
}

.item-list, .tab-group-wrapper, .submit {
  width: 100%;
}
